{% extends 'registration/base.html' %}

{% block title %}
	Articles List
{% endblock %}

{% block title-meta %}
	TheGameChangers|Article List
{% endblock %}

{% block main %}
	<div class="row">
		  <div class="col-12">
			  {% if object_list %}
				<div class="card">
			  <!-- /.card-header -->
			  <div class="card-body table-responsive p-0">
				<table class="table table-hover">
				  <thead>
						<tr>
						  <th>Title</th>
						  <th>Slug</th>
						  <th>Thumbnail</th>
						  <th>Category</th>
						  <th>Author</th>
						  <th>Description</th>
						  <th>Publish</th>
                          <th>Special Article</th>
						  <th>Status</th>
						</tr>
				  </thead>
				  <tbody>
					{% for article in object_list %}
						<tr>
						  <td>
							  {% if article.status in 'bd'|make_list or user.is_superuser %}
								  <a href="{% url 'account:article-update' article.pk %}">{{ article.title }}</a>
							  {% else %}
								  {{ article.title }}
							  {% endif %}
						  </td>
						  <td>{{ article.slug }}</td>
						  <td>{{ article.thumbnail_picture }}</td>
						  <td>
							{% for cat in article.category_published.all %}
								<P><a href="{% url 'blog:category' cat.slug %}">{{ cat.title }}</a></P>
							{% endfor %}
						  </td>
						  <td><a href="{% url 'blog:author' article.author %}">{{ article.author.get_full_name }}</a></td>
						  <td>{{ article.description|striptags|truncatewords:20 }}</td>
						  <td>{{ article.publish }}</td>
						  <td>
                              {% if article.is_special %}
                                <i class="fa fa-check-circle" style="color: green"></i>
                              {% else %}
                                <i class="fa fa-minus-circle" style="color: red"></i>
                              {% endif %}
                          </td>
						  <td>
							  {% if article.status == 'p' %}
								  <span class="badge badge-success">Published</span>
								  <a href="{% url 'blog:detail' article.slug %}" class="badge badge-primary" target="_blank">Show Article</a>
							  {% elif article.status == 'i' %}
								  <span class="badge badge-info">Investigation</span>
                                  {% if user.is_superuser %}
                                      <a href="{% url 'blog:preview' article.pk %}" class="badge badge-secondary" target="_blank">Show ArticlePreview</a>
                                  {% endif %}
                              {% else %}
                                  {% if article.status == 'd' %}
								      <span class="badge badge-warning">Draft</span>
                                      <a href="{% url 'blog:preview' article.pk %}" class="badge badge-secondary" target="_blank">Show ArticlePreview</a>
								  {% else %}
                                      <span class="badge badge-warning">Back</span>
                                      <a href="{% url 'blog:preview' article.pk %}" class="badge badge-secondary" target="_blank">Show ArticlePreview</a>
                                  {% endif %}
                              {% endif %}
							  {% if user.is_superuser %}
								  <a href="{% url 'account:article-delete' article.pk %}" class="badge badge-danger" >Delete</a>
							  {% endif %}
						  </td>

						</tr>
					{% endfor %}
				  </tbody>
				</table>
			  </div>
			  <!-- /.card-body -->
			</div>
			  {% else %}
				<h3>No Article exist to show</h3>
			  {% endif %}
			<!-- /.card -->
		  </div>
		</div>
{% endblock %}