{% extends 'registration/base.html' %}
{% load crispy_forms_filters %}

{% block title %}

{% endblock %}

{% block title-meta %}
    TheGameChangers|Password changed
{% endblock %}

{% block main %}
    <div class="col-md-8 mx-auto">
        <div class="card card-success">
            <div class="card-header">
                <div class="card-title mb-0 float-left"><h3> change password </h3></div>
            </div>
            <div class="card-body text-center">
                Password changed successfully
            </div>
        </div>
    </div>
{% endblock %}