{% extends 'registration/base.html' %}
{% load crispy_forms_filters %}

{% block title %}

{% endblock %}

{% block title-meta %}
    TheGameChangers|Change password
{% endblock %}

{% block main %}
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <div class="card-title mb-0 float-left"><h3> Change password </h3></div>
            </div>
            <div class="card-body">
                <form method="post">{% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.old_password|as_crispy_field }}
                        </div>

                        <div class="col-md-6"></div>

                        <div class="col-md-6">
                            {{ form.new_password1|as_crispy_field }}
                        </div>

                        <div class="col-md-6">
                            {{ form.new_password2|as_crispy_field }}
                        </div>
                    </div>
                    <button class="btn btn-primary"> Edit information </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}